<div fxLayout="column">
  <h1>Login</h1>
<div fxLayout="row">
  <div fxFlex="25" fxHide fxShow.gt-sm></div>
  <div *ngIf="!nickname" fxLayout="column" fxFlex="50">
    <input id="name" name="name"[(ngModel)]="inputname" type="text" (keyup.enter)="saveNickname(inputname)"
    required minlength="4" maxlength="20" placeholder="Nickname..." fxFlex="100" #name="ngModel" />
    <button style="margin-top: 5px"  (click)="saveNickname(inputname)" fxFlex="50">Login</button>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" fxFlex="50">

      <div *ngIf="name.errors.required">
        Message is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Message must be at least 4 characters long.
      </div>
    </div>
  </div>
  <div *ngIf="nickname" fxFlex="50">
    <p>Would you like to login as <strong>{{nickname}}</strong>?</p>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <a [routerLink]="[ '/dashboard' ]">Yes</a>
      <button (click)="deleteNickname()">No</button>
    </div>
  </div>
  <div fxFelx="25" fxHide fxShow.gt-sm></div>
</div>
</div>