<button (click)="logout()" >Logout</button>
<h1 style="margin-bottom: 0px;">Chat {{roomId}}</h1>
<div fxLayout="row">
  <div fxLayout="column" fxFlex="25%" fxHide fxShow.gt-sm>
    <div>
      <div class="container message receive-message" *ngFor="let name of names" fxLayoutAlign="end start">
        <p>{{name}}</p>
      </div>
      </div>
  </div>
  <div class="side-border" fxLayout="column" fxLayoutAlign="end" fxFlex>
    <div fxLayout="row" >
    <div fxFlex="100" class="scroll">
      <div class="container message" [ngClass]="{'receive-message': checkUsername()}" 
       fxLayout="column" *ngFor="let message of messages" fxLayoutAlign="end start">
        <strong style="text-align: right">{{message.createdOn | date:'h:mm:ss  dd/MM/yy'}} - {{message.username}}</strong>
        <p>{{message.message}}</p>
      </div>
    </div>
  </div>
  <div fxLayout="column">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Nickname is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Nickname must be at least 4 characters long.
          </div>
          <div *ngIf="name.errors.maxlength">
            Nickname must not be more then 20 characters long.
          </div>
        </div>
    <form fxLayout="row">
      <input name="name" (keyup.enter)="sendMessage(message)" [(ngModel)]="message" required minlength="4" maxlength="50" type="text" #name="ngModel">
      <button type="submit" (click)="sendMessage(message)">Send</button>
    </form>
  </div>

  </div>
  <div fxLayout="column" fxFlex="25%" fxHide fxShow.gt-sm>
    <emoji-mart title="Pick your emoji…" set="messenger" emoji="point_up" (emojiClick)="addEmoji($event)"></emoji-mart>
    <h1>Chat bot</h1>
  </div>
</div>