input {
    background-color: var(--main-bg-form);
    border-width: var(--main-border-size) 0px var(--main-border-size) var(--main-border-size);
    border-radius: 0px;
    padding: var(--main-padding);
    width: 100%;
}

button {
    background-color: var(--main-bg-form);
    border: var(--main-border-size) solid var(--primary-color);
    border-radius: 0px;
    padding: var(--main-padding);
    font-family: fantasy;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--main-bg-form);
    border: var(--main-border-size) solid var(--main-bg-form);
}

button:active {
    background-color: var(--secondary-color);
}