<div fxLayout="row">
  <!-- <a [routerLink]="[ '/login' ]">Login</a>
  <a [routerLink]="[ '/dashboard' ]">Dashboard</a>
  <a [routerLink]="[ '/chat' ]">Chat</a> -->
</div>
<div fxLayout="row" style="margin-bottom: 10px">
  <div fxFlex="25%" style="background-color: salmon; padding: 10px"></div>
  <div fxFlex="50%" style="background-color: white"></div>
  <div fxFlex="25%" style="background-color: salmon"></div>
</div>
<router-outlet></router-outlet>
