/* You can add global styles to this file, and also import other style files */

:root {
    --main-bg-color: black;
    --main-bg-form: whitesmoke;
    --main-border-size: 5px;
    --main-border-radius: 10px;
    --main-padding: 10px 15px;
    --primary-color: salmon;
    --secondary-color: red;
    --main-text-color:  rgb(207, 196, 182);
    --main-title-color:  whitesmoke;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: var(--main-title-color);
    border-bottom: 5px solid var(--main-title-color);
    font-family: fantasy;
    font-size: 300%;
    text-align: center;
}

div.scroll
{
   overflow-y: scroll;
   overflow-x: hidden;
   max-height: 63vh;
   max-width: 70vw;
}

input {
    background-color: var(--main-bg-form);
    border: var(--main-border-size) solid var(--primary-color);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

button {
    background-color: var(--main-bg-form);
    color: var(--primary-color);
    border: var(--main-border-size) solid var(--primary-color);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
    font-family: fantasy;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--main-bg-form);
    border: var(--main-border-size) solid var(--main-bg-form);
}

button:active {
    background-color: var(--secondary-color);
}

a:link, a:visited {
    background-color: var(--main-bg-form);
    color: var(--primary-color);
    border: var(--main-border-size) solid var(--primary-color);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
    font-family: fantasy;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    background-color: var(--primary-color);
    color: var(--main-bg-form);
    border: var(--main-border-size) solid var(--main-bg-form);
}

a:active {
    background-color: var(--secondary-color);
}

.login {
    border: var(--main-border-size) solid var(--primary-color);
}

.card {
    background-color: var(--main-bg-form);
    border: var(--main-border-size) solid var(--primary-color);
    padding: var(--main-padding);
}

.message {
    border-radius: var(--main-border-radius);
    margin: 3px 3px 3px 3px;
}

.send-message {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.receive-message {
    background-color: var(--primary-color);
    color: var(--main-text-color);
}

.side-border {
    border-left: var(--main-border-size) solid var(--main-title-color);
    border-right: var(--main-border-size) solid var(--main-title-color);
}